<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


 <div class="main">

<h1>{{ tread.title_text }}</h1>
{{ tread.tread_text }}
{% if latest_treads_list %}
    <ul>
    {% for tread in latest_treads_list %}
        <li><a href="{% url 'detail' tread.id %}">{{ tread.title_text }}</a>
        <blockquote>{{ tread.preview_text }}</blockquote>
    {% endfor %}
    </ul>
{% else %}
    <p>Нет доступных постов</p>
{% endif %}
</div>
</div>


<h2>{{ tread.title_text }}</h2>
{{ tread.tread_text }}

</body>
</html>