<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1><a href="../">home sweet home</a></h1>

<h2>{{ tread.title_text }}</h2>
{{ tread.tread_text }}



 <div class="main">


{% if latest_comments_list %}
    <ul>
    {% for comment in latest_comments_list %}
        <li>{{ comment.comment_text }}
    {% endfor %}
    </ul>
{% else %}
    <p>Нет доступных комментариев</p>
{% endif %}
 {{ form }}

</div>
</div>


</body>
</html>