<html>
 <head>
  <meta charset="utf-8">
  <title>blog</title>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"> </script>
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />

 </head>
 <body>


 <!--<form action="" method="post">

 <form id="yourname" action="" method="post">

    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Отправить" name="yourname" />
</form>


 {{ form.non_field_errors }}
<div class="fieldWrapper">
    {{ form.subject.errors }}
    <label for="{{ form.subject.id_for_label }}">Email subject:</label>
    {{ form.subject }}
</div>
<div class="fieldWrapper">
    {{ form.message.errors }}
    <label for="{{ form.message.id_for_label }}">Your message:</label>
    {{ form.message }}
</div>
<div class="fieldWrapper">
    {{ form.sender.errors }}
    <label for="{{ form.sender.id_for_label }}">Your email address:</label>
    {{ form.sender }}
</div>



 <form action="" method="post">
         {% csrf_token %}
    <label for="your_name">Your name: </label>
    <input id="your_name" type="text" name="your_name" value="{{ current_name }}">
    <input type="submit" value="OK">
</form>


<p>Hello {{ form }}</p>-->

<a href="logout">logout</a>



{% if errors %}
        <ul>
            {% for error in errors %}
                <li style="color: red;">{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

<!--<div class="registration">
<form action="" method="post">
        <label>Имя</label>
        <input name="username" type="text" value="{{ form.username }}">

        <label>Password</label>
        <input name="password" type="password" value="{{ form.password }}">



        <input value="send" type="submit">
        {% csrf_token %}
    </form>
</div>-->


<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" name="your_name" />
</form>

<!--<div class="navbar-collapse collapse">
          <form action="" class="navbar-form navbar-right" method="post" role="form">
              {% csrf_token %}
            <div class="form-group">
              <input placeholder="Login" class="form-control" type="text"  >
            </div>
            <div class="form-group">
              <input placeholder="Password" class="form-control" type="password" >
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div>-->
Hello {{ name }}
 <div class="container">
 <div class="row">
  <div class="col-xs-2">logo</div>
  <div class="col-xs-2"><a href= >home</a></div>
  <div class="col-xs-2">topic</div>
  <div class="col-xs-2">login</div>
  <div class="col-xs-2">password</div>
  <div class="col-xs-1"><button type="button" class="btn btn-primary">submit</button></div>
  <div class="col-xs-1">logout</div>
 </div>
</div>


      <div class="header">Блог</div>
 <div class="main">

<h1>{{ tread.title_text }}</h1>
{{ tread.tread_text }}
{% if latest_treads_list %}
    <ul>
    {% for tread in latest_treads_list %}
        <li><a href="{% url 'detail' tread.id %}">{{ tread.title_text }}</a>
        <blockquote>{{ tread.preview_text }}</blockquote>
    {% endfor %}
    </ul>
{% else %}
    <p>Нет доступных постов</p>
{% endif %}
</div>
</div>

<div class="pagination">
    <span class="step-links">
        {% if latest_treads_list.has_previous %}
            <a href="?page={{ latest_treads_list.previous_page_number }}">Предыдущая</a>
        {% endif %}

        <span class="current">
            Страница {{ latest_treads_list.number }} из {{ latest_treads_list.paginator.num_pages }}
        </span>

        {% if latest_treads_list.has_next %}
            <a href="?page={{ latest_treads_list.next_page_number }}">Следующая</a>
        {% endif %}
    </span>
</div>

 </body>
</html>