<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1><a href="../">home sweet home</a></h1>
<h2>Пароль для учетной записи пользователя {{ username }} отправлен на электронную почту {{ email }}</h2>
<br>
<sub>Шучу, вот он {{ password }}</sub>
</body>
</html>