*{
    margin: 0;
    padding: 0;
}

li a {
    color: green;
}
body {
    color: red;
    background: white ;
}

.header {
    width: 100%;
    height: 5%;
    background: #ffc;
    padding: 10px;
    padding-right: 20px;
    float: left;
    font-size: 140%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
   }

.main {
    width: 100%;
    background: #ccc;
    padding-left: 30px;
    padding-right: 20px;
    float: left;
    font-size: 100%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
   }